<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.7.4/css/bulma.min.css"
          integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.7.2/css/all.min.css"
          integrity="sha256-7V33osRIfrDP7o1DzMbHKTFApfEDTIyCywe0imdN8no=" crossorigin="anonymous">
    <title>Tools by Halulu</title>
    <meta name="keywords" content="哈陆lu,halulu,tools,online,hash">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91028451-12"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-91028451-12');
    </script>

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img alt="halulu" src="https://halu.lu/halulu.png" width="30" height="30"><strong>Tools</strong>
        </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" id="navbar-hash" href="/hash.html">
                Hash
            </a>

            <a class="navbar-item" id="navbar-hash" href="/encode.html">
                Encode
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" id="navbar-todo" href="/todo.html">
                TODO
            </a>

            <a class="navbar-item" id="navbar-halulu" href="https://halu.lu/"
               target="_blank">Halulu</a>

            <div class="navbar-item" id="navbar-github">
                <a href="https://github.com/lzjluzijie/tools">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
<section class="section" id="hash">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        SHA2
                    </p>
                    <ul class="menu-list">
                        <li v-on:click="click"><a class="hash-name is-active" data-hash-name="sha256">SHA256</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha512">SHA512</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha384">SHA384</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha224">SHA224</a></li>
                    </ul>

                    <p class="menu-label">
                        SHA3
                    </p>
                    <ul class="menu-list">
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-256">SHA3-256</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-512">SHA3-512</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-384">SHA3-384</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-224">SHA3-224</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="shake128">Shake128</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="shake256">Shake256</a></li>
                    </ul>

                    <p class="menu-label">
                        Others
                    </p>
                    <ul class="menu-list">
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha1">SHA1</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="md5">MD5</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="crc32">CRC32</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="ripemd160">RIPEMD-160</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column is-5" id="text-div">
                <h2 class="title is-2">Text</h2>

                <div class="field columns">
                    <div class="content column">
                        <p>
                            Input below, click to copy the hash.
                        </p>
                    </div>
                </div>

                <div class="field" id="textarea">
                    <div class="control">
                        <textarea class="textarea" name="input" id="input" v-model="input"
                                  placeholder="input text here"></textarea>
                    </div>
                </div>

                <div class="field has-addons" id="bits-div" style="display: none">
                    <p class="control">
                        <a class="button">
                            Output bits
                        </a>
                    </p>
                    <div class="control">
                        <input class="input" type="text" v-model="bits" placeholder="output bits">
                    </div>
                </div>

                <div class="content">
                    <p id="output" class="content" v-bind:data-clipboard-text="output" style="word-wrap:break-word">
                        {{ hashName }}:
                        {{ output }}
                    </p>
                </div>
            </div>
            <div class="column is-5" id="file-div">
                <h2 class="title is-2">File</h2>

                <div id="dropzone" class="title is-3"
                     style="position: relative; height: 200px;padding: 75px;border: 2px dashed;border-radius:5px;text-align:center;">
                    Drop files here
                    <input id="files" type="file" @change="fileChange($event)"
                           style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;"
                           multiple/>
                </div>

                <div id="fileHashes">
                    <ul v-for="fileHash in fileHashes" style="word-wrap:break-word">
                        <li class="content hash-result" v-bind:data-clipboard-text="fileHash.hash">
                            {{ fileHash.hashName }} {{ fileHash.fileName }}:
                            {{ fileHash.hash }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.min.js"
        integrity="sha256-GN7NvWruk083BKn+djXpMOuWnd9Rz70hQgF868IIyTU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-sha256@0.9.0/build/sha256.min.js"
        integrity="sha256-cVdRFpfbdE04SloqhkavI/PJBWCr+TuyQP3WkLKaiYo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-sha512@0.8.0/build/sha512.min.js"
        integrity="sha256-vmT+cGA/37TLJdcbn/L89qtu3RA/LEozREmaqY+pg4E=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-sha3@0.8.0/build/sha3.min.js"
        integrity="sha256-8MpIdXZrWpb1JXVJccjsXDKzvX927WNtletZ0/Ny3oQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-sha1@0.6.0/build/sha1.min.js"
        integrity="sha256-7uoevSMGGHaM9JT1c9+XCpW+ECg1f7KnPL/JNpDjSRI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/build/md5.min.js"
        integrity="sha256-MdVyBgdWRaNPRC46VtXStEXkN8+Zc5iJvB1lZisCvDE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-crc@0.2.0/build/crc.min.js"
        integrity="sha256-NQIhfUJHyhUEVmPl97vqQKtoEPOY3Hvs/glAWAK7/TI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/brix/crypto-js@release-3.1.2/build/components/core-min.js"
        integrity="sha256-qOAva3TZS8zEHOtY5AXvhOmw1ZfX46nsmnxF5FjJ1CI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/brix/crypto-js@release-3.1.2/build/components/ripemd160-min.js"
        integrity="sha256-hmBLVeui/f19+F+HlSGwNKd1wAcWkw9Zy9FC/rtw8Wo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js"
        integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
<script>
    var hash = new Vue({
        el: '#hash',
        data: {
            input: '',
            bits: 0,
            hashName: 'sha256',
            fileHashes: []
        },
        computed: {
            output: function () {
                return this.hash(this.input)
            }
        },
        methods: {
            hash: function (input) {
                let name = this.hashName;
                let bits = this.bits;

                let hash = "error!";

                switch (name) {
                    //sha2
                    case "sha256":
                        hash = sha256(input);
                        break;
                    case "sha512":
                        hash = sha512(input);
                        break;
                    case "sha384":
                        hash = sha384(input);
                        break;
                    case "sha224":
                        hash = sha224(input);
                        break;

                    //sha3
                    case "sha3-256":
                        hash = sha3_256(input);
                        break;
                    case "sha3-512":
                        hash = sha3_512(input);
                        break;
                    case "sha3-384":
                        hash = sha3_384(input);
                        break;
                    case "sha3-224":
                        hash = sha3_224(input);
                        break;
                    case "shake128":
                        hash = shake128(input, bits);
                        break;
                    case "shake256":
                        hash = shake256(input, bits);
                        break;

                    //others
                    case "sha1":
                        hash = sha1(input);
                        break;
                    case "md5":
                        hash = md5(input);
                        break;
                    case "crc32":
                        hash = crc32(input);
                        break;
                    case "ripemd160":
                        hash = CryptoJS.RIPEMD160(input).toString();
                        break;
                }

                return hash
            },
            click: function (event) {
                document.getElementById("files").value = "";

                let s = document.getElementsByClassName("hash-name");
                for (let i = 0; i < s.length; i++) {
                    s[i].classList.remove("is-active")
                }
                event.target.classList.add("is-active");

                let hashName = event.target.getAttribute("data-hash-name");
                if (hashName === "shake128") {
                    this.bits = 256;
                    document.getElementById("bits-div").style.removeProperty("display")
                } else if (hashName === "shake256") {
                    this.bits = 512;
                    document.getElementById("bits-div").style.removeProperty("display")
                } else {
                    document.getElementById("bits-div").style.setProperty("display", "none")
                }
                this.hashName = hashName;
            },
            fileChange: function (event) {
                let files = event.target.files;
                for (var i = 0; i < files.length; i++) {
                    hash.fileHash(files[i])
                }
            },
            fileHash: function (file) {
                var reader = new FileReader();
                reader.addEventListener("loadend", function (e) {
                    hash.fileHashes.push({
                        "fileName": file.name,
                        "hashName": hash.hashName,
                        "hash": hash.hash(e.target.result)
                    });
                });
                reader.readAsArrayBuffer(file);
            },
        }
    });

    new ClipboardJS(document.getElementById('output'));
    new ClipboardJS('.hash-result');

    //file
    document.getElementById("dropzone").addEventListener("dragover", function f(event) {
        event.stopPropagation();
        event.preventDefault();
        event.dataTransfer.dropEffect = "copy";
    });

    document.getElementById("dropzone").addEventListener("drop", function (event) {
        event.stopPropagation();
        event.preventDefault();

        let files = event.dataTransfer.files;
        for (var i = 0; i < files.length; i++) {
            hash.fileHash(files[i])
        }
    });
</script>
</body>
</html>