<section class="section" id="main">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        SHA2
                    </p>
                    <ul class="menu-list">
                        <li v-on:click="click"><a class="hash-name is-active" data-hash-name="sha256">SHA256</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha512">SHA512</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha384">SHA384</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha224">SHA224</a></li>
                    </ul>

                    <p class="menu-label">
                        SHA3
                    </p>
                    <ul class="menu-list">
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-256">SHA3-256</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-512">SHA3-512</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-384">SHA3-384</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha3-224">SHA3-224</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="shake128">Shake128</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="shake256">Shake256</a></li>
                    </ul>

                    <p class="menu-label">
                        Others
                    </p>
                    <ul class="menu-list">
                        <li v-on:click="click"><a class="hash-name" data-hash-name="sha1">SHA1</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="md5">MD5</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="crc32">CRC32</a></li>
                        <li v-on:click="click"><a class="hash-name" data-hash-name="ripemd160">RIPEMD-160</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-10" id="hash">
                <div class="field columns">
                    <div class="content column">
                        <p>
                            Input below, click to copy the hash.
                        </p>
                    </div>
                    <div class="column has-text-right">

                        <input id="switch" type="checkbox" name="switch" class="switch is-rtl" v-model="isFile">
                        <label for="switch">File</label>
                    </div>
                </div>
                <div class="field" id="file" style="display: none">
                    <input type="file" @change="hashFile">
                </div>
                <div class="field" id="textarea">
                    <div class="control">
                        <textarea class="textarea" name="input" id="input" v-model="input"
                                  placeholder="input here"></textarea>
                    </div>
                </div>
                <div class="field has-addons" id="bits-div" style="display: none">
                    <p class="control">
                        <a class="button">
                            Output bits
                        </a>
                    </p>
                    <div class="control">
                        <input class="input" type="text" v-model="bits" placeholder="output bits">
                    </div>
                </div>
                <div class="content" id="output">
                    <p style="word-wrap:break-word">
                        {{ HashName }} result: {{ output }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/crypto-js@3.1.9-1/crypto-js.js"
        integrity="sha256-xoJklEMhY9dP0n54rQEaE9VeRnBEHNSfyfHlKkr9KNk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"
        integrity="sha256-ui3vFTgbIIvd9ePh+wF+ju05O3jympV4FyFlpNMV2cw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-sha3@0.8.0/build/sha3.min.js"
        integrity="sha256-8MpIdXZrWpb1JXVJccjsXDKzvX927WNtletZ0/Ny3oQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-crc@0.2.0/build/crc.min.js"
        integrity="sha256-NQIhfUJHyhUEVmPl97vqQKtoEPOY3Hvs/glAWAK7/TI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js"
        integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
<script>
    function getHash(name, input, bits) {
        let hash = "error!";
        switch (name) {
            //sha2
            case "sha256":
                hash = CryptoJS.SHA256(input).toString();
                break;
            case "sha512":
                hash = CryptoJS.SHA512(input).toString();
                break;
            case "sha384":
                hash = CryptoJS.SHA384(input).toString();
                break;
            case "sha224":
                hash = CryptoJS.SHA224(input).toString();
                break;

            //sha3
            case "sha3-256":
                hash = sha3_256(input);
                break;
            case "sha3-512":
                hash = sha3_512(input);
                break;
            case "sha3-384":
                hash = sha3_384(input);
                break;
            case "sha3-224":
                hash = sha3_224(input);
                break;
            case "shake128":
                hash = shake128(input, bits);
                break;
            case "shake256":
                hash = shake256(input, bits);
                break;

            //others
            case "sha1":
                hash = CryptoJS.SHA1(input).toString();
                break;
            case "md5":
                hash = CryptoJS.MD5(input).toString();
                break;
            case "crc32":
                hash = crc32(input);
                break;
            case "ripemd160":
                hash = CryptoJS.RIPEMD160(input).toString();
                break;
        }

        return hash
    }

    var main = new Vue({
        el: '#main',
        data: {
            input: '',
            output: 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855',
            bits: 0,
            HashName: 'sha256',
            isFile: false,
        },
        computed: {
            output: function () {
                let hash = getHash(this.HashName, this.input, this.bits);
                document.getElementById("output").setAttribute("data-clipboard-text", hash);
                return hash
            }
        },
        methods: {
            click: function (event) {
                let s = document.getElementsByClassName("hash-name");
                for (let i = 0; i < s.length; i++) {
                    s[i].classList.remove("is-active")
                }
                event.target.classList.add("is-active");

                let hashName = event.target.getAttribute("data-hash-name");
                if (hashName === "shake128") {
                    this.bits = 256;
                    document.getElementById("bits-div").style.removeProperty("display")
                } else if (hashName === "shake256") {
                    this.bits = 512;
                    document.getElementById("bits-div").style.removeProperty("display")
                } else {
                    document.getElementById("bits-div").style.setProperty("display", "none")
                }
                this.HashName = hashName;
            },
            hashFile: function (event) {
                if (event.target.files.length === 0) {
                    console.log("no file");
                    return
                }

                let name = this.HashName;
                let bits = this.bits;

                var reader = new FileReader();
                reader.onload = function (event) {
                    main.output = getHash(name, event.target.result, bits);
                };
                reader.readAsBinaryString(event.target.files[0]);
            }
        },
        watch: {
            isFile: function () {
                if (this.isFile) {
                    document.getElementById("file").style.removeProperty("display");
                    document.getElementById("textarea").style.setProperty("display", "none");
                } else {
                    document.getElementById("textarea").style.removeProperty("display");
                    document.getElementById("file").style.setProperty("display", "none");
                }
            }
        }
    });

    new ClipboardJS(document.getElementById('output'));

    var link = document.createElement("link");
    link.rel = "stylesheet";
    link.href = "https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css";
    link.integrity = "sha256-jCV/cXwP13w0GNHLgFx6SFgTNAvJPvS5MIhuE30Ng08=";
    link.crossOrigin = "anonymous";
    document.getElementsByTagName("head")[0].append(link)
</script>